/*slides*/
#jssor_1 {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  visibility: hidden; }

#jssor_1_slides {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 400px;
  overflow: hidden; }

body {
  margin: 0 0 0 0;
  width: 100%;
  color: #7f8c8d; }
  body .hero-unit {
    background-size: cover;
    width: 100%;
    height: 659px; }
  body .hero-title {
    color: #FFFFFF;
    font-family: open sans;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 100%;
    position: relative;
    text-align: center;
    top: 200px;
    text-shadow: 0 1px 1px #000000; }
  body .hero-subtitle {
    color: #FFFFFF;
    font-family: open sans;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    top: 200px;
    text-shadow: 0 1px 1px #000000; }
  body .navbar-inverse {
    background-color: #f39c12;
    border: none; }
    body .navbar-inverse .navbar-brand {
      color: #ffffff; }
    body .navbar-inverse .navbar-toggle {
      background-color: #e67e22;
      border: #e67e22; }
    body .navbar-inverse .navbar-toggle:hover {
      background-color: #e67e22;
      border: #e67e22; }
    body .navbar-inverse .navbar-nav li a {
      color: #ffffff; }
    body .navbar-inverse .navbar-nav li a:hover {
      color: #d35400; }
  body .container-fluid .navbar-header {
    border: none; }
  body section {
    background-attachment: fixed; }
  body .c-row1-div, body .c-row2-div, body .c-row3-div, body .c-row4-div, body .c-row5-div, body .c-row6-div {
    background-color: #e67e22;
    background-attachment: fixed; }
  body .c-row2-div {
    background-color: #d35400; }
  body .c-row3-div {
    text-align: center;
    background-color: #ffffff; }
  body .c-row4-div {
    background-color: #7f8c8d; }
  body .c-row5-div {
    background-color: #ecf0f1; }
  body .c-row6-div {
    background-color: #ffffff;
    text-align: center; }
  body .c-row1-content {
    color: #ffffff;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  body .c-row2-content {
    color: #ffffff; }
  body .c-row4-content {
    color: #ffffff;
    margin: 3% 3% 0% 0%; }
  body .c-row4-content-button {
    color: #ffffff;
    margin: 3% 0% 0% 0%;
    display: flex;
    justify-content: center; }
  body .c-row5-content {
    color: #7f8c8d;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  body .c-row-img {
    max-width: 100%;
    height: auto;
    display: block; }
  body .c-row-img-big {
    max-width: 100%;
    height: auto;
    display: block; }
  body .c-row2-img {
    height: 120px;
    width: 120px;
    display: block;
    margin: auto; }
  body .c-row-paragraph {
    font-size: 16px; }
  body .c-amujamu-button {
    border: none;
    color: #ffffff;
    background-color: #e67e22;
    height: 40px;
    width: 140px; }
  body .c-amujamu-button:hover {
    background-color: #d35400;
    color: #ffffff; }
  body #bars {
    margin: 2em auto;
    max-width: 960px;
    overflow: hidden; }
  body .bar {
    text-align: center;
    color: #7f8c8d; }
    body .bar h3 {
      font-size: 1em;
      font-weight: normal;
      margin: 0;
      text-transform: uppercase; }
  body .bar-circle {
    display: block;
    margin: 0.7em auto;
    color: #7f8c8d; }
  body .card {
    padding-top: 0;
    text-align: center;
    background-color: #ecf0f1; }
    body .card .cardheader {
      background-color: #ffffff;
      background-size: cover;
      height: 80px; }
    body .card .card-img-box {
      position: relative;
      top: -50px; }
      body .card .card-img-box a {
        text-decoration: none; }
      body .card .card-img-box .c-fa {
        color: #e67e22;
        text-decoration: none; }
      body .card .card-img-box .c-fa:hover {
        color: #d35400;
        text-decoration: none; }
      body .card .card-img-box .blockquote {
        border-left: 5px solid #e67e22;
        text-align: center; }
      body .card .card-img-box .quote {
        font-size: 12px;
        font-weight: 200;
        color: #7f8c8d;
        opacity: 0.5;
        display: inline-block;
        line-height: 1; }
      body .card .card-img-box .card-img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.5); }
  body .c-contact-button {
    border: none;
    color: #7f8c8d;
    background-color: #bdc3c7;
    height: 40px;
    width: 140px; }
  body .c-contact-button:hover {
    background-color: #ffffff;
    color: #7f8c8d; }

/*# sourceMappingURL=style.css.map */
